.app {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

h1 {
  font-family: 'Vollkorn', serif;
  color: #f5f5f5;
  font-style: italic;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 4px;
  padding-top: 35px;
  font-size: 40px;
}

.tagline {
  font-size: 24px;
  font-family: 'Archivo', sans-serif;
  color: #f5f5f5;
  font-style: italic;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 8px;
}

.blob {
  font-size: 16px;
  font-family: 'Archivo', sans-serif;
  color: #f5f5f5;
  font-style: italic;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 30px;
}

.instructions {
  padding: 18px 18px 0 18px;
  background: #ffffff;
  font-weight: bold;
}

.birthday-input {
  padding: 18px;
  background: #ffffff;
}

p {
  font-size: 16px;
  color: #f5f5f5;
  margin-bottom: 16px;
}

.epic {
  margin-top: 30px;
  padding-bottom: 64px;
}

.epic-image {
  margin-bottom: 8px;
  width: 200px;
  height: 200px;
  background: #000;
}

.epic-caption {
  color: #f5f5f5;
  margin-bottom: 4px;
}

.loading {
  margin: 30px;
  color: #f5f5f5;
}

.alerts {
  margin-bottom: 30px;
  color: #333;
  padding: 8px;
  position: fixed;
  top: 0;
  width: 100%;
}

.alert-success { background: #d4edda; }
.alert-warn { background: #fff3cd; }